.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 80px 0;
  &__column {
    &:first-child {
      padding-right: 20px;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-size: 67px;
    line-height: 73.7px;
    font-weight: 600;
  }
  &__desc {
    margin-bottom: 30px;
    font-size: $font-size-large;
    line-height: 35.2px;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &-title {
      margin-bottom: 5px;
      font-size: 28px;
      font-family: 'Space Mono';
      font-weight: 700;
    }
    &-subtitle {
      font-size: 24px;
    }
  }
  &__wrapper {
    border-radius: $border-radius;
    background-color: $dark-light;
  }
  &__artist {
    padding: 22px 20px;
    & .title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: $font-size-large;
    }
    & img {
      width: 24px;
      border-radius: 120px;
    }
    & > div {
      display: flex;
      align-items: center;
    }
    & .author {
      margin-left: 12px;
    }
  }
}
