.browse {
  padding: 80px 0;
  border-bottom: 1px solid $dark-light;
  &__title {
    font-size: 51px;
    font-weight: 600;
    margin-bottom: 20px;
    @include mediaTablet {
      font-size: 38px;
    }
    @include mediaMobile {
      font-size: 28px;
    }
  }
  &__desc {
    margin-bottom: 30px;
    font-size: $font-size-large;
    @include mediaTablet {
      font-size: $font-size-medium;
    }
  }
}
