.result {
  background-color: $dark-light;
  border-bottom: 2px solid $dark;
  &__wrapper {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
