.tabs {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 14px;
    font-weight: 600;
    user-select: none;

    color: $grey;
    font-size: $font-size-large;

    border-bottom: 2px solid transparent;
    &.active {
      color: $white;
      border-bottom: 2px solid $grey;
      & .tabs__counter {
        background-color: $grey;
      }
    }
  }
  &__counter {
    padding: 5px 10px;
    margin-left: 16px;
    color: $white;
    font-family: 'Space Mono';
    font-size: $font-size-medium;
    border-radius: $border-radius;
    background-color: $dark-light;
  }
}
