* {
  ::selection {
    background: $purple; /* Safari */
  }
  ::-moz-selection {
    background: $purple; /* Firefox */
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $dark;
  color: $white;
  font-family: $font-family-regular;
}
a {
  color: $white;
}
.container {
  padding: 0 0;
  max-width: $container-width;
  margin: 0 auto;
  @include mediaLaptop {
    padding: 0 25px;
  }
}

h2 {
  font-size: 38px;
  text-transform: capitalize;
}
.logo {
  //   flex-shrink: 1;
}
