@font-face {
  font-family: 'Work Sans';
  src: url('../assets/fonts/WorkSans/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/SpaceMono/SpaceMono-Regular.ttf');
}
@font-face {
  font-family: 'Space Mono Bold';
  src: url('../assets/fonts/SpaceMono/SpaceMono-Bold.ttf');
}
